[submodule "MRE_resource_ingest"]
	path = MRE_resource_ingest
	url = https://github.com/jmcvey3/MRE_resource_ingest
[submodule "WindSentinel_ingest"]
	path = WindSentinel_ingest
	url = https://github.com/jmcvey3/WindSentinel_ingest
[submodule "tutorial_pipelines"]
	path = tutorial_pipelines
	url = https://github.com/jmcvey3/tutorial_pipelines.git
